
$liSpeed: 250ms;

#timeLine li.ng-enter {
  -webkit-animation: fadeInLeft $liSpeed;
  -moz-animation: fadeInLeft $liSpeed;
  -ms-animation: fadeInLeft $liSpeed;
  animation: fadeInLeft $liSpeed;
}
#timeLine li.ng-leave {
  -webkit-animation: fadeOutLeft $liSpeed;
  -moz-animation: fadeOutLeft $liSpeed;
  -ms-animation: fadeOutLeft $liSpeed;
  animation: fadeOutLeft $liSpeed;
}