#description{
  margin-top: 15px;
  img{
    margin-right: 10px;
    max-height: 300px;
    float: left;
  }
  span{
    display: block;
    font-weight: bold;
  }

}

#information{
  margin-top: 10px;
  //background-color: rgba(216,202,171,0.2);
  background-color: #FFF;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-sizing: border-box;
  p{
    padding:10px;
    img{
      max-width: 100%;
    }
  }


}




.subnav{
  //float: right;
  width: 100%;
  padding:20px 0 20px 0;
  margin: 0 auto;
  text-align: justify;
  li{
    width: 32.9%;
    float:left;
    display: inline-block;
    position: relative;
    text-align: center;

    a{
      color:black;
      text-decoration: none;
      font-weight: bold;
      padding: 10px;
    }

    a:hover{
      color:#071E28;
      background: rgba(120,120,120,0.3);
    }
  }
}