#details{
  margin-top:15px;
  margin-left: 10px;
  h4{
    font-size: 18px;
    font-weight: bold;
  }

  #regimeDetails{
    list-style: none;
  }

  p {
    padding:10px;
  }


}

#countries{
  li{

    display: inline;
    //margin-right: 8px;

  }
  li:before{
    display: inline;
    content:", ";
  }
  li:first-child:before{
    content:"";
  }
  li:last-child:before{
    content:" and ";
  }
  li:only-child:before{
    content:"";
  }
  li:first-letter{
    font-weight: bold;
    font-size: 2em;
  }
}