

@font-face {
  font-family: conflicts;
  src: url(conflicts.woff);
}

header{

  background-color: white;
  height: 60px;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
  h1{
    //display: inline-block;
    float: left;
  }

  ul{
    display: inline-block;
    float: right;
    li{

      display: inline-block;
      list-style: none;

      a{
        margin:0 25px 0 25px;
        text-decoration: none;
        color: black;
      }
    }
  }
}