/**
 * Created by Roderik on 15/12/2014.
 */

//GLOBAL
#conflictTop{
  //*{border:1px solid #000000;}
  height: 40px;
  background-color: #402E2C;
  color:white;
  h2{
    float: left;
    /*span{
      margin-left: 25px;
      font-size: 14px;
    }*/
  }
  ul{
    list-style: none;
    float:right;
    li{
      margin-right: 50px;
      list-style-type: none;
      display: inline-block;
      a{
        color:#FFF;
        text-decoration: none;

      }
      a:hover{
        font-weight: bold;
      }
    }

  }
}

//DESCRIPTION
.description{
  //text-align: center;
  //*{border:1px solid black}
  min-height: 60vh;
  padding: 40px 0 0 40px;
  img{
    min-width: 40%;
    max-width: 40%;
    display:inline-block;
    float:left;
  }
  p{
    span{
      font-weight: bold;
      display: block;
      margin-bottom:20px;
    }
    margin-right: 45px;
    width: 55%;
    display: inline-block;
    float: right;
  }
}


//DETAILS
.details{
  *{
    border: 1px black solid;
  }
  margin: 0px;
  padding: 0px;

  ul{
    //white-space: nowrap;
    display: inline-block;
    list-style-type:none;
    li{

    }
  }
  >div:nth-child(odd){
    float:left;
    max-width: 30%;
  }
  >div:nth-child(even){
    min-width: 50%;
    max-width: 50%;
    float:left;
  }
}

//WEAPONS
#conflictCarrousel{
  background-color: lightyellow;
  height: calc(100% - 95px);
  width: 90%;
  margin-top: 25px;
  margin-left:auto;
  margin-right: auto;
  min-height: 350px;

  h2{
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
  }
  >.description{
    ul{
      float:right;
    }
    li{
      margin-right: 50px;
      display: inline-block;
      list-style: none-block;
    }}

}

.conflict{

  width: 400px;
  //height: 300px;
  background-color: lightgreen;
  float: left;
  margin-right: 25px;

  h2{
    text-align: center;
  }

}






