#map-canvas{
  height: 100vh;
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
}

#yearCounter{
  background-color: white;
  color:#800080;


  text-align: center;

  #play{
    display: inline;
    margin: auto 0 auto 0;
  }

  #year{
    font-weight: bold;
    font-size: 18px;
  }

  label{
    font-size: 11px;
  }
}