//FONTS
@font-face {
  font-family: conflicts;
  src: url(conflicts.woff);
}
@font-face {
  font-family: fontawesome;
  src: url(fontawesome.woff);
}

*{
  padding:0;
  margin: 0;
}

body{
  background: url("../images/bg2.jpg") repeat;
}

h2{
  font-weight: bold;
  color:#071E28;
}

@import 'header';
@import "timeline";
@import "details";
@import "weapons";
@import "skeleton.css";
@import "normalize.css";
@import "description";
@import "map";
@import "scrollbar";
@import "animation";

