@import url(skeleton.css);
@import url(normalize.css);
@font-face {
  font-family: conflicts;
  src: url(conflicts.woff); }
* {
  padding: 0;
  margin: 0; }

body {
  background: url("../images/bg2.jpg") repeat; }

h2 {
  font-weight: bold;
  color: #071E28; }

#mainNav ul {
  padding-top: 20px; }
  #mainNav ul li {
    font-family: conflicts; }
    #mainNav ul li span {
      font-family: 'PT sans'; }
    #mainNav ul li :hover {
      color: #071E28;
      font-weight: bold; }

@font-face {
  font-family: conflicts;
  src: url(conflicts.woff); }
header {
  background-color: white;
  height: 60px;
  border-bottom: 2px solid black;
  margin-bottom: 15px; }
  header h1 {
    float: left; }
  header ul {
    display: inline-block;
    float: right; }
    header ul li {
      display: inline-block;
      list-style: none; }
      header ul li a {
        margin: 0 25px 0 25px;
        text-decoration: none;
        color: black; }

#selectedItem {
  background-color: #D8CAAB;
  padding: 15px;
  color: white;
  height: 85px; }
  #selectedItem h2 {
    font-size: 24px;
    font-weight: bold; }

#timeLine ul {
  white-space: nowrap;
  list-style: none;
  background-color: #fdfaf3; }
  #timeLine ul li {
    text-align: left;
    cursor: pointer; }
    #timeLine ul li h3 {
      font-size: 18px;
      padding: 0;
      margin: 0; }
  #timeLine ul li:nth-child(odd) {
    background-color: #fdfaf3; }
  #timeLine ul li:nth-child(even) {
    background-color: #eeebe4;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black; }

@media (max-width: 550px) {
  #copy {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center; } }
#details h4 {
  font-size: 18px;
  font-weight: bold; }
#details #regimeDetails {
  list-style: none; }

#countries li {
  display: inline-block;
  margin-right: 8px; }
#countries li::first-letter {
  font-weight: bold; }

#weapons h4 {
  font-size: 18px;
  font-weight: bold; }
#weapons .weapon {
  display: inline-block;
  float: left; }
  #weapons .weapon span {
    display: block; }
  #weapons .weapon img {
    float: left;
    margin-right: 10px;
    min-height: 50px;
    max-height: 50px;
    max-width: 300px; }

#description {
  margin-top: 15px; }
  #description img {
    margin-right: 10px;
    max-height: 300px;
    float: left; }
  #description span {
    display: block;
    font-weight: bold; }

#information {
  background-color: rgba(216, 202, 171, 0.2); }
  #information img {
    max-width: 100%;
    padding: 10px; }

.subnav {
  width: 100%;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  text-align: justify; }
  .subnav li {
    width: 32.9%;
    float: left;
    display: inline-block;
    position: relative;
    text-align: center; }
    .subnav li a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      padding: 10px; }
    .subnav li a:hover {
      color: #071E28;
      background: rgba(120, 120, 120, 0.3); }

#map-canvas {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; }

#yearCounter {
  background-color: white;
  color: #800080;
  text-align: center; }
  #yearCounter #play {
    display: inline;
    margin: auto 0 auto 0; }
  #yearCounter #year {
    font-weight: bold;
    font-size: 18px; }
  #yearCounter label {
    font-size: 11px; }

.scrollbar {
  float: left;
  height: 450px;
  width: 100%;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 15px; }

#scrollStyle::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  background-color: #F5F5F5; }

#scrollStyle::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5; }

#scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #555; }

/*# sourceMappingURL=style.css.map */
