#selectedItem{

  background-color: #D8CAAB;
  padding: 15px;
  color:white;
  height: 85px;
  h2{
    font-size: 24px;
    font-weight: bold;
  }
  span{

  }
}


#timeLine{
  //background-color: pink;

  ul{
//    height: 50vh;
//    overflow: hidden;
//    overflow-y: scroll;
    white-space: nowrap;
    list-style: none;
    background-color:#fdfaf3;
    //width: 100%;


    li{
      text-align: left;
      cursor:pointer;
      h3{
        font-size: 18px;
        padding: 0;
        margin: 0;
      }
    }

    li:nth-child(odd){
       background-color: #fdfaf3;

     }
    li:nth-child(even){
      background-color: #eeebe4;
      padding-top: 10px;
      padding-bottom: 10px;
      color:black
    }
  }

}
