<div class="container">

    <div class="row">
        <aside class="three columns">
            <div class="row">
                <section>
                    <input type="text" placeholder="Search conflict" id="search" ng-model="filterString" ng-change="listFilter()"/>
                    <span id="itemCount">Number of conflicts: {{conflicts.length}}</span>
                </section>

                <section id="selectedItem">
                    <h2>{{selectedConflict.conflictName}}</h2>
                    <span>{{selectedConflict.conflictStart | limitTo:4}} - {{selectedConflict.conflictEnd | limitTo:4}}</span>
                </section>
                <div  class="scrollbar" id="scrollStyle">
                <div id="timeLine">
                    <ul>
                        <li ng-repeat="conflict in conflicts" ng-click="setHighlight(conflict)" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                            <h3>{{conflict.conflictName}}</h3>
                            <span>{{conflict.conflictStart | limitTo:4}} - {{conflict.conflictEnd | limitTo:4}}</span>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
            <span id="copy">&copy Bart VDC - Roderik I</span>
        </aside>
        <article id="information" class="nine columns">

            <ul ng-init="tab=1" class="subnav">
                <li ng-class="{active:tab === 1}">
                    <a href ng-click="tab = 1"><span class="ficon">&#xf03e;</span>Description</a>
                </li>
                <li ng-class="{active:tab === 2}">
                    <a href ng-click="tab = 2"><span class="ficon">&#xf1ea;</span>Details</a>
                </li>
                <li ng-class="{active:tab === 3}">
                    <a href ng-click="tab = 3"><span class="ficon">&#xf1e2;</span>Weapons</a>
                </li>
            </ul>
            <section id="description" ng-show="tab ===1">
            <p>
                <img src="../images/{{selectedConflict.conflictImgName}}" alt="{{selectedConflict.conflictName}}"/>
                <span class="dataspan"><span class="ficon">&#xf073;</span>{{selectedConflict.conflictStart.replace('-','/').replace('-','/')}}
                -
                    {{selectedConflict.conflictEnd.replace('-','/').replace('-','/')}}
                </span>

                <span class="dataspan"><span class="ficon">&#xf0fa;</span>Wounded: {{selectedConflict.conflictWounded}}</span>
                <span class="dataspan"><span class="ficon">&#xf1ae;</span>Dead: {{selectedConflict.conflictDead}}</span>

                {{selectedConflict.conflictDescription}}
            </p>

            </section>

            <section id="details" ng-show="tab ===2">
                <h4>Involved countries:</h4>
                <ul id="countries">
                    <li ng-repeat="country in selectedConflict.conflictCountries">{{country.countryName}}</li>
                </ul>
                <h4>Regime</h4>
                <ul id="regimeDetails">
                    <li>{{selectedConflict.conflictRegime.regimeName}}</li>
                    <li>{{selectedConflict.conflictRegime.regimeLeader}}</li>
                    <li>{{selectedConflict.conflictRegime.regimeDescription}}</li>
                </ul>
            </section>

            <section id="weapons" ng-show="tab ===3">
                <div class="weapon" ng-repeat="weapon in selectedConflict.conflictWeapons">
                <h4>{{weapon.weaponName}}</h4>
                    <span class="dataspan"><span class="ficon">&#xf073;</span>{{weapon.weaponDeveloped|limitTo:4}}</span>
                    <span class="dataspan"><span class="ficon">&#xF124;</span>{{weapon.weaponCountry.countryName}}</span>
                    <p>
                        <img src="../images/{{weapon.weaponIMG}}" alt="{{weapon.weaponName}}"/>
                        {{weapon.weaponDescription}}
                    </p>
                </div>
            </section>

        </article>
    </div>

</div>
